.search-results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;

  .search-result {
    margin: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    width: 192px;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;

      img {
        filter: blur(0);
        opacity: 0.5;
      }

      .search-result-info {
        opacity: 1;
      }
    }

    .search-result-info {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 999;
    }
  }
}

.no-results {
  margin-top: 20px;
  font-size: 20px;
  color: var(--info);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  user-select: none;
  width: 100%;
}

// Mobile
@media only screen and (max-width: 600px) {
  .search-results {
    margin-top: 30px;

    .search-result {
      width: 30%;
    }
  }

  .searchbar {
    position: relative;
    top: 20px;
  }
}
