// Mobile
@media only screen and (max-width: 600px) {
  .search-results {
    margin-top: 30px;

    .search-result {
      width: 30%;
    }
  }

  .searchbar {
    position: relative;
    top: 20px;
  }
}
