.button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  user-select: none;
  width: fit-content;
  min-width: 100px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  &:disabled {
    filter: brightness(0.5);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);

    &:disabled {
      filter: brightness(0.6);
      cursor: not-allowed;
    }
  }

  &.button-danger {
    background-color: var(--danger);
  }

  &.button-success {
    background-color: var(--success);
  }

  &.button-info {
    background-color: var(--info);
  }

  &.button-wide {
    width: 100%;
  }

  &.button-outline {
    background-color: transparent;

    &:hover {
      filter: brightness(1);
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.button-danger {
      color: var(--danger);
      border: 1px solid var(--danger);
    }

    &.button-success {
      color: var(--success);
      border: 1px solid var(--success);
    }

    &.button-info {
      color: var(--info);
      border: 1px solid var(--info);
    }
  }
}
