<div class="container py-5">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 bordered-primary" style="width: 100%">
      <h1>{{'LOGIN_OR_CREATE' | translate}}</h1>
      <hr/>
      <div class="row">
        <div (keydown.enter)="login()" class="col-md-6">
          <!-- login form -->
          <h2>{{'LOGIN' | translate}}</h2>
          <div class="py-2">
            <label for="email1">{{'EMAIL_OR_USERNAME' | translate}}</label>
            <br/>
            <input [(ngModel)]="loginEmail" [disabled]="loading" [placeholder]="'EMAIL_OR_USERNAME' | translate"
                   id="email1"
                   name="email"
                   style="width: 250px" type="email"/>
          </div>
          <div class="py-2">
            <label for="password">{{'PASSWORD' | translate}}</label>
            <br/>
            <input [(ngModel)]="loginPassword" [disabled]="loading" [placeholder]="'PASSWORD' | translate" id="password"
                   name="password"
                   style="width: 250px" type="password"/>
          </div>
          <div class="py-3" style="width: 250px">
            <cmp-button (click)="login()" [disabled]="loading"
                        type="outline-wide-info">
              <span *ngIf="!loading">{{'LOGIN' | translate}}</span>
              <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin"></i> </span>
            </cmp-button>
          </div>
        </div>
        <!-- create account form -->
        <div (keydown.enter)="createAccount()" class="col-md-6">
          <h2>{{'CREATE_ACCOUNT' | translate}}</h2>
          <div class="py-2">
            <label for="username2">{{'USERNAME' | translate}}</label>
            <br/>
            <input [(ngModel)]="username" [disabled]="loading" [placeholder]="'USERNAME' | translate" id="username2"
                   name="username"
                   style="width: 250px" type="text"/>
          </div>
          <div class="py-2">
            <label for="email">{{'EMAIL' | translate}}</label>
            <br/>
            <input [(ngModel)]="email" [disabled]="loading" [placeholder]="'EMAIL' | translate" id="email" name="email"
                   style="width: 250px" type="email"/>
          </div>
          <div class="py-2">
            <label for="password2">{{'PASSWORD' | translate}}</label>
            <br/>
            <input [(ngModel)]="password" [disabled]="loading" [placeholder]="'PASSWORD' | translate" id="password2"
                   name="password" style="width: 250px" type="password"/>
          </div>
          <div class="py-2">
            <label for="confirm">{{'REPEAT_PASSWORD' | translate}}</label>
            <br/>
            <input [(ngModel)]="confirmPassword" [disabled]="loading" [placeholder]="'REPEAT_PASSWORD' | translate"
                   id="confirm"
                   name="password"
                   style="width: 250px" type="password"/>
          </div>
          <div class="py-3" style="width: 250px">
            <cmp-button (click)="createAccount()" [disabled]="loading" type="outline-wide-info">
              <span *ngIf="!loading">{{'CREATE_ACCOUNT' | translate}}</span>
              <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin"></i> </span>
            </cmp-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
