/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  --darker: #343a40;
  --dark: #37404a;

  --text-light: #99a8b9;
  --text-muted: #707275;
  --text-blue: #445598;

  --danger: #ff5b5b;
  --success: #11b01f;
  --info: #536de6;
  --gold: #f1c40f;

  font-family: 'Nunito', sans-serif;

  background-color: var(--dark);
}

input {
  background-color: var(--darker);
  color: var(--text-light);
  border: 1px solid var(--text-muted);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin: 0.5rem 10px;

  &::placeholder {
    color: var(--text-muted);
  }

  &:focus, &:active, &:hover {
    border: 1px solid var(--info);
    outline: none;
  }
}

label {
  color: var(--text-light);
  font-size: 1.1rem;
  margin: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
